body {
    min-height: 100vh;
    display: flex;
}
.sideBarContiner{
    position:relative;
}
.sidebar {
    width: 220px;
    background-color: #343a40;
    color: white;
    flex-shrink: 0;
}


    .sidebar a {
        color: white;
        padding: 12px;
        display: block;
        text-decoration: none;
    }

        .sidebar a:hover {
            background-color: #495057;
        }

.content {
    flex-grow: 1;
    padding: 20px;
}

.menu-icon{
    display:none;
}

.navbar-custom {
    background-color: #198754;
}

@media(max-width: 1199px){

    .sidebar {
        display: none;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        color: black;
        padding: 15px;
        cursor: pointer;
        display :block;

    }
    .sideBarContiner:hover .sidebar {
        width: 220px;
        background-color: #343a40;
        color: white;
        flex-shrink: 0;
        display:block;
    }

}